<body>
<style>
    html, body {
        height: 100%;
        margin: 0;
    }
    canvas {
        display: block;
        height: 100% !important;
        width: 100% !important;
    }
</style>
<div id="gui"></div>
<script src='/j.js'></script>
</body>
